/*
AUTHOR: Osvaldas Valutis, www.osvaldas.info
*/

@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed:400,700|Noticia+Text:400,400italic,700,700italic&subset=latin,latin-ext');

body {
    font-family: 'Fjalla One', sans-serif;
}

#main_content {
    width: 41.25em; /* 660 */
    text-align: center;
    padding: 0 20px;
    margin: 3.125em auto 6.25em; /* 50 100 */
}

#main_content h2 {
    border-top: 1px solid #ddd;
    padding-top: 1.875em; /* 30 */
    margin-top: 1.875em; /* 30 */
    margin-bottom: 0.625em; /* 10 */
}

#main_content li {
    display: inline-block;
    margin: 0.625em; /* 10 */
}

#main_content img {
    width: 8.75em; /* 140 */
    height: 8.75em; /* 140 */
    border: 0.625em solid rgba(255, 255, 255, .5); /* 10 */
    box-shadow: 0 0 0.313em rgba(0, 0, 0, .05); /* 5 */
    transition: box-shadow .3s ease, border-color .3s ease;
}

#main_content img:hover {
    box-shadow: 0 0 0.938em rgba(0, 0, 0, .25); /* 15 */
}

footer {
    font-size: 0.875em; /* 14 */
    border-top: 1px solid #ddd;
    padding-top: 2.143em; /* 30 (14) */
}
