name: RelativeCI

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

jobs:
  process-stats:
    runs-on: ubuntu-latest
    steps:
      - name: Send jquery bundle stats and build information to RelativeCI
        uses: relative-ci/agent-action@v3.2.2
        with:
          key: ${{ secrets.RELATIVE_CI_KEY_JQUERY }}
          token: ${{ secrets.GITHUB_TOKEN }}
          webpackStatsFile: webpack-stats.jquery.json

      - name: Send native bundle stats and build information to RelativeCI
        uses: relative-ci/agent-action@v3.2.2
        with:
          key: ${{ secrets.RELATIVE_CI_KEY_NATIVE }}
          token: ${{ secrets.GITHUB_TOKEN }}
          webpackStatsFile: webpack-stats.native.json
